.btn {
  display: inline-block;
  //border: 1px solid transparent;
  border-radius: 30px;
  transition: .3s ease-in-out;
  text-decoration: none;
  padding: 17px 38px;
  min-width: 156px;
  text-align: center;
  max-width: 365px;
  cursor: pointer;

  @media screen and (max-width: 340px) {
    max-width: 300px;
  }

  &_text {
    font-size: 16px;
  }

  span {
    font-family: var(--font-headers);
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.03em;
    //letter-spacing: 0.2px;
  }

  &-main {
    transition: 1s;
    color: var(--color-white);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e57857+6,db6a48+25,d4487d+95 */
    background: #e57857; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #e57857 6%, #db6a48 25%, #d4487d 95%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #e57857 6%, #db6a48 25%, #d4487d 95%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #e57857 6%, #db6a48 25%, #d4487d 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e57857', endColorstr='#d4487d', GradientType=1); /* IE6-9 fallback on horizontal gradient */


    &:hover {
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e57857+6,db6a48+43,c24273+95 */
      background: #e57857; /* Old browsers */
      background: -moz-linear-gradient(-45deg,  #e57857 6%, #db6a48 43%, #c24273 95%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg,  #e57857 6%,#db6a48 43%,#c24273 95%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg,  #e57857 6%,#db6a48 43%,#c24273 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e57857', endColorstr='#c24273',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    }

    span {
      color: var(--color-white);
    }
  }

  &-second {
    background: var(--color-pink);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid var(--pink);
    border-radius: 30px;

    &:hover {
      background-color: rgba(#9B9B9B, .60);
    }

    span {
      color: var(--color-white);
    }
  }
  &-blue {
    background:  #226AB2;
    color: var(--color-white);
  }
  &-grey {
    background: rgba(96, 76, 222, 0.12);
    color: #604CDE;
    padding: 8px 25px;

  }


  &-img{
    width:14px;
    margin-right: 0px;
    margin-left: 10px;
  }

  &-full {
    width: 100%;
  }
}
