.faq-item {
  background-color: var(--color-white);
  padding: 16px;
  text-align: left;
  width: 100%;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__question {
    color: var(--color-black);
    font-weight: bold;
    line-height: 1.4;
    padding-right: 10px;
  }

  &__answer {
    color: var(--color-black);
    line-height: 1.4;

    &:first-child{
      margin-top: 20px;
    }
  }
  &__link{
    color: var(--bg-btn-main);
  }

  &__description {
    max-height: 0px;
    overflow: hidden;
    transition: .4s;

    &--active {
      max-height: 500px;
    }
  }

  &__plus {
    width: 14px;
    height: 14px;
    position: relative;

    &:after {
      content: "";
      position: relative;
      top: 0px;
      left: -50%;
      width: 0;
      height: 0;
      background-image: url('/img/triangle-down.svg');
      background-repeat: no-repeat;
      background-position: 50%;
      border-color: transparent;
      border-style: solid;
      border-width: 12px 7.5px 0;
    }


    &--active {
      &:after {
        background-image: url('/img/triangle_up.svg');
      }
    }


  }

}


