.field-select {
  &__label {
    & span{
      color: var(--red);
    }
  }

  &__wrap {
    position: relative;

    &:after {
      content: "";
      position: relative;
      top: -37px;
      left: 90%;
      width: 0;
      height: 0;
      background-image: url('/img/triangle_down.svg');
      background-repeat: no-repeat;
      background-position: 50%;
      border-color: transparent;
      border-style: solid;
      border-width: 12px 7.5px 0;

    }
    &--multiple{
      &:after {
        @media screen and (min-width: 1024px) {display: none}
      }
    }
  }

  &__field {
    background-color: var(--color-white);
    padding: 15px 16px;
    border-radius: 5px;
    border: 1px solid var(--border-input);
    color: var(--checkbox);
    width: 100%;
    padding-right: 40px;

    option{
      white-space: normal;
      word-wrap: break-word;
      display: list-item;
      margin-left: 10px;
      &:disabled{
        display: block;
        background-color: transparent;
        outline: none;
      }
    }

    &--invalid {
      border-color: var(--red);
    }
    &--multiple{
      @media screen and (min-width: 1024px) {
        height: 200px;
      }
    }
  }
}
