.specialists {
  .title{
    text-align: center;
  }

  &-content-wrap{
    @media screen and (max-width: 1024px) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__description {
    line-height: 24px;
    max-width: 560px;
    margin: 0px auto;
    padding-right: var(--m-horizont);
    padding-left: var(--m-horizont);
  }

  &__items {
    display: flex;
    //justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 0px 30px;
    @media screen and (max-width: 340px) {
      padding: 0px 20px;
    }
  }

  &__item {
    display: flex;
    //flex: 1;
    align-items: center;
    flex-direction: column;
    max-width: 50%;
    width: 100%;
    @media screen and (min-width: 1024px) {
      max-width: 25%;
    }

  }

  &__img {
    max-width: 110%;

    &-wrap {
      width: 84px;
      height: 84px;
      background-color: var(--bg-btn-main);
      margin: 0 auto;
      border-radius: 50px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background-position: center;
      background-size: 110%;
      background-repeat: no-repeat;
      transform: translateZ(0);
    }

    &--spatak_subbota {
      background-image: url("/img/specialists/spatak_subbota.jpg");
    }

    &--sofia_lagutina {
      background-image: url("/img/specialists/sofia_lagutina.jpg");
    }

    &--lesia_sak {
      background-image: url("/img/specialists/lesia_sak.jpg");
    }

    &--bogdana_valigu {
      background-image: url("/img/specialists/bogdana_valigura.jpg");
    }



    &--olga_mohniy {
      background-image: url("/img/specialists/olga_mohniy.jpg");
      background-size: 270%;
      background-position: 56% 11%;
    }

    &--evelina_shapovalova {
      background-image: url("/img/specialists/evelina_shapovalova.jpg");
      background-size: 230%;
      background-position: 36% 18%;
    }

    &--alla_atalieva {
      background-image: url("/img/specialists/alla_atalieva.jpg");
      background-size: 144%;
      background-position: 38% 10%;
    }

    &--katerina_doljenko {
      background-image: url("/img/specialists/katerina_doljenko.jpg");
      background-size: 130%;
      background-position: 33% 6%;
    }

    &--anna_marchenko_kovalenko {
      background-image: url("/img/specialists/anna_marchenko_kovalenko.jpg");
      background-size: 144%;
      background-position: 56% 0%;
    }
    &--tatiana_bozhik {
      background-image: url("/img/specialists/tatiana_bozhik.jpg");
      background-size: 130%;
      background-position: 56% 10%;
    }
    &--andriy_zaec {
      background-image: url("/img/specialists/andriy_zaec.jpg");
      background-size: 120%;
      background-position: 56% 0%;
    }
    &--natalia_visaticka {
      background-image: url("/img/specialists/natalia_visaticka.jpg");
      background-size: 168%;
      background-position: 48% 17%;
    }
    &--tatiana_akchar {
      background-image: url("/img/specialists/tatiana_akchar.jpg");
      background-size: 164%;
      background-position: 64% 19%;
    }
    &--natalia_misan {
      background-image: url("/img/specialists/natalia_misan.jpg");
      background-size: 170%;
      background-position: 44% 44%;
    }
    //---
    &--jarina_marich {
      background-image: url("/img/specialists/jarina_marich.jpg");
      background-size: 212%;
      background-position: 51% 8%;
    }
    &--artem_kozorezov {
      background-image: url("/img/specialists/artem_kozorezov.jpg");
      background-size: 120%;
      background-position: 44% 11%;
    }
    &--inga_kolesnichenko {
      background-image: url("/img/specialists/inga_kolesnichenko.jpg");
      background-size: 240%;
      background-position: 52% 51%;
    }
    &--elvira_habuseva {
      background-image: url("/img/specialists/elvira_habuseva.jpg");
      background-size: 112%;
      background-position: 30% 34%;
    }

    &--olesa_fedyanina {
      background-image: url("/img/specialists/olesa_fedyanina.jpg");
      background-size: 177%;
      background-position: 32% 17%;
    }

    &--violetta_kadoshnicova {
      background-image: url("/img/specialists/violetta_kadoshnicova.jpg");
      background-size: 270%;
      background-position: 72% 9%;
    }

    &--irina_usenko {
      background-image: url("/img/specialists/irina_usenko.jpg");
      background-size: 112%;
      background-position: 30% 34%;
    }

    &--irina_galanova {
      background-image: url("/img/specialists/irina_galanova.jpg");
      background-size: 190%;
      background-position: 47% 33%;
    }

    &--yana_korobko {
      background-image: url("/img/specialists/yana_korobko.jpg");
      background-size: 100%;
      background-position: 30% 0%;
    }

    &--olena_florinska {
      background-image: url("/img/specialists/olena_florinska.jpg");
      background-size: 160%;
      background-position: 100% 10%;
    }

    &--yadviga_kozak {
      background-image: url("/img/specialists/yadviga_kozak.jpg");
      background-size: 145%;
      background-position: 70% 20%;
    }

    &--omelchenko_olexandra {
      background-image: url("/img/specialists/omelchenko_olexandra.jpg");
      background-size: 226%;
      background-position: 35% 20%;
    }
    &--yevgen_yermolovsky {
      background-image: url("/img/specialists/yevgen_yermolovsky.jpg");
      background-size: 170%;
      background-position: 40% 5%;
    }
    &--tetyana_shevchenko {
      background-image: url("/img/specialists/tetyana_shevchenko.jpg");
      background-size: 145%;
      background-position: 70% 20%;
    }
    &--sidorenko_victoria{
      background-image: url("/img/specialists/sidorenko_victoria.jpg");
      background-size: 125%;
      background-position: 105% 0%;
    }
    &--svitlana_rovnova {
      background-image: url("/img/specialists/svitlana_rovnova.jpg");
      background-size: 157%;
      background-position: 45% 24%;
    }
    &--mariya_shinkar {
      background-image: url("/img/specialists/mariya_shinkar.jpg");
      background-size: 300%;
      background-position: 53% 41%;
    }
    &--valeria_volovik {
      background-image: url("/img/specialists/valeria_volovik.jpg");
      background-size: 100%;
      background-position: 0% 0%;
    }
    &--elina_oleynik {
      background-image: url("/img/specialists/elina_oleynik.jpg");
      background-size: 220%;
      background-position: 61% 5%;
    }
    &--svetlana_kantur {
      background-image: url("/img/specialists/svetlana_kantur.jpg");
      background-size: 150%;
      background-position: 39% 0%;
    }
    &--vitalina_ustenko {
      background-image: url("/img/specialists/vitalina_ustenko.jpg");
      background-size: 200%;
      background-position: 58% 10%;
    }
    &--elena_kolyada {
      background-image: url("/img/specialists/elena_kolyada.jpg");
      background-size: 100%;
      background-position: 0% 0%;
    }
    &--olga_astahova {
      background-image: url("/img/specialists/olga_astahova.jpg");
      background-size: 100%;
      background-position: 45% 24%;
    }
    &--anna_granko {
      background-image: url("/img/specialists/anna_granko.jpg");
      background-size: 112%;
      background-position: 100% 5%;
    }
    &--anastasiya_eskina {
      background-image: url("/img/specialists/anastasiya_eskina.jpg");
      background-size: 125%;
      background-position: 77% 40%;
    }
    &--inna_kotenko {
      background-image: url("/img/specialists/inna_kotenko.jpg");
      background-size: 125%;
      background-position: 1% 1%;
    }
    &--mariya_kinashevska {
      background-image: url("/img/specialists/mariya_kinashevska.jpg");
      background-size: 115%;
      background-position: 25% 0%;
    }
    &--inna_arbusova {
      background-image: url("/img/specialists/inna_arbusova.jpg");
      background-size: 270%;
      background-position: 51% 6%;
    }
    &--katerina_misenko {
      background-image: url("/img/specialists/katerina_misenko.jpg");
      background-size: 179%;
      background-position: 45% 34%;
    }
    &--anastasiya_tokareva {
      background-image: url("/img/specialists/anastasiya_tokareva.jpg");
      background-size: 140%;
      background-position: 64% 0%;
    }
    &--inna_ragulska {
      background-image: url("/img/specialists/inna_ragulska.jpg");
      background-size: 400%;
      background-position: 44% 15%;
    }
    &--nataliya_kuchak {
      background-image: url("/img/specialists/nataliya_kuchak.jpg");
      background-size: 126%;
      background-position: 20% 0%;
    }
    &--nazarenko_nataliya {
      background-image: url("/img/specialists/nazarenko_nataliya.jpg");
      background-size: 110%;
      background-position: 100% 0%;
    }
    &--yulia_kuzmenko {
      background-image: url("/img/specialists/yulia_kuzmenko.jpg");
      background-size: 150%;
      background-position: 60% 8%;
    }
    &--kovalchuk_olena {
      background-image: url("/img/specialists/kovalchuk_olena.jpg");
      background-size: 112%;
      background-position: 112% 8%;
    }
    &--nataliya_gallecka {
      background-image: url("/img/specialists/nataliya_gallecka.jpg");
      background-size: 124%;
      background-position: 60% 73%;
    }
    &--myroslava_kirilyuk {
      background-image: url("/img/specialists/myroslava_kirilyuk.jpg");
      background-size: 100%;
      background-position: 42% 15%;
    }
    &--kuc_tetyana {
      background-image: url("/img/specialists/kuc_tetyana.jpg");
      background-size: 110%;
      background-position: 0% 0%;
    }
    &--bershadska_olexandra {
      background-image: url("/img/specialists/bershadska_olexandra.jpg");
      background-size: 100%;
      background-position: 60% 60%;
    }
    &--stembiy_roksolana {
      background-image: url("/img/specialists/stembiy_roksolana.jpg");
      background-size: 100%;
      background-position: 60% 60%;
    }
    &--lisa_tamara {
      background-image: url("/img/specialists/lisa_tamara.jpg");
      background-size: 220%;
      background-position: 52% 46%;
    }
    &--osetrov_ostap {
      background-image: url("/img/specialists/osetrov_ostap.jpg");
      background-size: 131%;
      background-position: 60% 73%;
    }
    &--ilchenko_yana {
      background-image: url("/img/specialists/ilchenko_yana.jpg");
      background-size: 174%;
      background-position: 60% 0%;
    }
    &--vitvitcka_olexandra {
      background-image: url("/img/specialists/vitvitcka_olexandra.jpg");
      background-size: 186%;
      background-position: 60% 10%;
    }
    &--gnat_liudmila {
      background-image: url("/img/specialists/gnat_liudmila.jpg");
      background-size: 100%;
      background-position: 0% 0%;
    }
    &--melnikova_yevgenia {
      background-image: url("/img/specialists/melnikova_yevgenia.jpg");
      background-size: 100%;
      background-position: 0% 10%;
    }
    &--yakovenko_lesya {
      background-image: url("/img/specialists/yakovenko_lesya.jpg");
      background-size: 270%;
      background-position: 56% 10%;
    }
    &--shwec_vladislava {
      background-image: url("/img/specialists/shwec_vladislava.jpg");
      background-size: 100%;
      background-position: 60% 11%;
    }
    &--bekar_misha {
      background-image: url("/img/specialists/bekar_misha.jpg");
      background-size: 175%;
      background-position: 60% 73%;
    }
    &--andreeva_anna {
      background-image: url("/img/specialists/andreeva_anna.jpg");
      background-size: 143%;
      background-position: 95% 25%;
    }
    &--rozumyak_olga {
      background-image: url("/img/specialists/rozumyak_olga.jpg");
      background-size: 115%;
      background-position: 80% 0%;
    }
    &--denyo_nika {
      background-image: url("/img/specialists/denyo_nika.jpg");
      background-size: 111%;
      background-position: 100% 0%;
    }
    &--buligina_dina {
      background-image: url("/img/specialists/buligina_dina.jpg");
      background-size: 120%;
      background-position: 100% 50%;
    }
    &--mazur_oksana {
      background-image: url("/img/specialists/mazur_oksana.jpg");
      background-size: 115%;
      background-position: 60% 48%;
    }
    &--bor_liliya {
      background-image: url("/img/specialists/bor_liliya.jpg");
      background-size: 300%;
      background-position: 38% 0%;
    }
    &--copa_victoria {
      background-image: url("/img/specialists/copa_victoria.jpg");
      background-size: 110%;
      background-position: 60% 26%;
    }
    &--morozova_olena {
      background-image: url("/img/specialists/morozova_olena.jpg");
      background-size: 150%;
      background-position: 60% 0%;
    }
    &--daniluk_tetyana {
      background-image: url("/img/specialists/daniluk_tetyana.jpg");
      background-size: 150%;
      background-position: 90% 40%;
    }
    &--konopacka_maryana {
      background-image: url("/img/specialists/konopacka_maryana.jpg");
      background-size: 100%;
      background-position: 60% 0%;
    }
    &--gilcher_catherine {
      background-image: url("/img/specialists/gilcher_catherine.jpg");
      background-size: 100%;
      background-position: 0% 0%;
    }
    &--bigdash_olga {
      background-image: url("/img/specialists/bigdash_olga.jpg");
      background-size: 135%;
      background-position: 25% 0%;
    }
    &--inna_grechko {
      background-image: url("/img/specialists/inna_grechko.jpg");
      background-size: 175%;
      background-position: 43% 36%;
    }
    &--svitlana_neborachko {
      background-image: url("/img/specialists/svitlana_neborachko.jpg");
      background-size: 210%;
      background-position: 45% 0%;
    }
    &--pristupa_alena {
      background-image: url("/img/specialists/pristupa_alena.jpeg");
      background-size: 100%;
      background-position: 0% 0%;
    }
    &--lalya_midyk {
      background-image: url("/img/specialists/lalya_midyk.jpg");
      background-size: 119%;
      background-position: 0% 0%;
    }
    &--alexandr_corman {
      background-image: url("/img/specialists/alexandr_corman.jpg");
      background-size: 136%;
      background-position: 45% 0%;
    }
    &--olga_karpenko {
      background-image: url("/img/specialists/olga_karpenko.jpg");
      background-size: 200%;
      background-position: 18% 0%;
    }
    &--svitlana_neborachko {
      background-image: url("/img/specialists/svitlana_neborachko.jpg");
      background-size: 210%;
      background-position: 45% 0%;
    }


    @media screen and (min-width: 768px) {
      &--spatak_subbota {
        background-size: 200%;
        background-position: 50% 12%;
      }

      &--sofia_lagutina {
        background-position: 28% 12%;
        background-size: 164%;

      }

      &--lesia_sak {
        background-size: 126%;
        background-position: 50% 20%;
      }

      &--bogdana_valigu {
        background-size: 160%;
        background-position: 40% 7%;
      }

    }
  }

  &__author {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: normal;
    text-align: center;
    font-family: 'Futura PT';
  }

  &__text {
    font-size: 19px;
    margin-bottom: 20px;
    display: none;

    &-wrap {
      margin: 0 10px 0px;
    }

    &--desktop {
      display: none;
    }

    @media screen and (min-width: 768px) {

      &--desktop {
        display: block;
      }
      &--mobile {
        display: none;
      }
    }
  }
  &_wrap-btn{
    margin-top: 16px;
  }

  .slide{
    //background: var(--bg-very-ligh);
    background-color: transparent;
    text-align: left;
  }
  .carousel .control-dots{
    margin: 0;
  }
  .carousel .control-dots .dot{
    background-color: #fff;
    box-shadow: none;
    outline: none;
    width: 30px;
    height: 6px;
    border-radius: 20px;
    opacity: 1;

    &.selected, &:hover{
      background-color: #DB7353;
    }
  }
  .carousel.carousel-slider .control-arrow:hover{
    background-color: rgba(0, 0, 0, 0.01);
  }
  .carousel .control-prev.control-arrow{
    &:before{
      //border-right-color: var(--bg-btn-main);
    }
  }

  .carousel .control-next.control-arrow{
    &:before{
      //border-left-color: var(--bg-btn-main);
    }
  }
}
